body{
    background-image: url(https://img.freepik.com/vector-premium/bolsa-dinero-patrones-fisuras-sobre-fondo-blanco-ilustracion-icono-tema-bolsas-dinero_385450-965.jpg?w=2000);
    align-items: center;
    justify-content: center;
    display: flex;
    
}